{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'template413/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'template413/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'template413/css/templatemo_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main-container">
    <nav class="main-nav">
        <div id="logo" class="left"><a href="#">Flip Turn</a></div>
        <ul class="nav right center-text">
            <li class="btn" id="nav_home"><a href="home">Home</a></li>
            <li class="btn" id="nav_home"><a href="category">Category</a></li>
            <li class="btn" id="nav_about"><a href="about">About</a></li>
            <li class="btn" id="nav_awards"><a href="awards">Awards</a></li>
            <li class="btn" id="nav_contact"><a href="contact">Contact</a></li>
            <li class="btn"><a rel="nofollow" href="http://www.facebook.com/stuncb" target="_parent">External</a>
            </li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
    <footer>
        <p>Copyright &copy; 2084 Your Company Name</p>
        <div class="social right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
    </footer>
</div>
<script type="text/javascript" src="{% static 'template413/js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'template413/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'template413/js/modernizr.2.5.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'template413/js/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'template413/js/templatemo_script.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>