{% load static %}
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Simple Weather Widget Responsive Widget Template | Home :: w3layouts</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta http-equiv=" Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Simple Weather Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <!--google fonts-->
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>{{ city_name }}</h1>
<select name="Choose city"
        id="city_dropdown"
        onchange="change_city()"
        style="margin-left: 400px">
    <option value="">Choose Your City</option>
    <option value="Hanoi">Hanoi</option>
    <option value="Thành%20phố%20Hồ%20Chí%20Minh">Ho Chi Minh</option>
    <option value="Tỉnh%20Ðà%20Nẵng">Da Nang</option>
    <option value="Thành%20Phố%20Hải%20Phòng">Hai Phong</option>
    <option value="Tỉnh%20Vĩnh%20Phúc">Vinh Phuc</option>
</select>
<div class="header">
    <div class="header-top">
        <h2><img class="whe" src="{% static 'images/sun.png' %}" alt=""/>Weather</h2>
        <ul>
            <li><p>°F</p></li>
            <li><p class="cen">°C</p></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="header-bottom">
        {% for d in data %}
            <div class="header-bottom1">
                <div class="header-head">
                    <h4>{{ d.weather_main }}</h4>
                    <img src="{% static d.image_url %}" alt=""/>
                    <h6>{{ d.temp }}°</h6>
                    <h6>{{ d.humidity }}%</h6>
                    <div class=" bottom-head">
                        <p>{{ d.time }}</p>
                        <p>{{ d.weekday }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
</div>
<div class="copy-right">
    <p>© 2015 Simple Weather Widget. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
        W3layouts </a></p>
</div>

<script>
    function change_city() {
        var e = document.getElementById("city_dropdown");
        var city_value = e.options[e.selectedIndex].value;
        window.location.href = ("/weatherapp/" + city_value)
    }
</script>
</body>
</html>