{% extends 'books/base.html' %}

{% block title %}
    Detail page
{% endblock %}

{% block body %}
    <h1>{{ book.name }}</h1>
    <h3>{{ book.author }}</h3>
    <h4>{{ book.price }}</h4>
{% endblock %}
