{% extends 'books/base.html' %}

{% block title %}
    Home page
{% endblock %}


{% block body %}
    <ul>
        {% for book in all_books %}
            <li><a href="{% url 'books:detail' book.id %}">{{ book.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

