{% extends 'books/base.html' %}

{% block title %}
    Generic Detail page
{% endblock %}

{% block body %}
    <h1>{{ object.name }}</h1>
    <h3>{{ object.author }}</h3>
    <h4>{{ object.price }}</h4>
    <h4>{{ object.category_id }}</h4>
{% endblock %}
