{% extends 'books/base.html' %}

{% block title %}
    Generic Home page
{% endblock %}


{% block body %}
    <ul>
        {% for book in object_list %}
            <li><a href="{% url 'books:generic_detail' book.id %}">{{ book.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

