{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Flip Turn Template
{% endblock %}
{% block content %}
    <div class="content-container">
        <header>
            <h1 class="center-text">Image Gallery</h1>
            <h2 class="center-text">Flip Turn is free HTML5 responsive website template by templatemo. Credit goes to <a
                    rel="nofollow" href="{% static 'template413/http://www.unsplash.com' %}">Unsplash</a> for images
                used in
                this template. Morbi
                hendrerit lacinia magna et tempus. Integer placerat sed nulla non tincidunt.</h2>
        </header>
        <div id="portfolio-content" class="center-text">
            {% if all_photos_pages %}
                {% for page in all_photos_pages.page_list %}
                    <div class="portfolio-page"
                         id="page-{{ forloop.counter }}"
                         {% if forloop.counter != 1 %}style="display:none;"{% endif %}>
                        {% for photo in page.object_list %}
                            <div class="portfolio-group">
                                <a class="portfolio-item" href="{{ photo.image_large.url }}">
                                    <img src="{{ photo.image_small.url }}" alt="image 8">
                                    <div class="detail">
                                        <h3>{{ photo.id }}|{{ photo.name }}</h3>
                                        <p>{{ photo.description }}</p>
                                        <span class="btn">View</span>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="pagination">
                    <ul class="nav">
                        {% for i in all_photos_pages.page_range %}
                            {% if i == 1 %}
                                <li class="active">{{ i }}</li>
                            {% else %}
                                <li>{{ i }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            $('.pagination li').click(changePage);
            $('.portfolio-item').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        });

        window.onload = function () {
            {#var element = document.getElementById("nav_home");#}
            {#element.classList.add("active");#}
        };
    </script>
{% endblock %}
