{% extends 'base/base.html' %}
{% load static %}


{% block title %}
    Flip Turn - Contact
{% endblock %}

{% block content %}
    <div class="content-container">
        <header>
            <h1 class="center-text">Contact</h1>
            <h2 class="center-text">Vivamus sollicitudin est id purus feugiat laoreet. Quisque sagittis viverra
                fringilla. Nullam ut ligula porttitor, rutrum ipsum quis, pretium massa. Aenean vulputate ultrices nisl
                a vulputate. Proin pellentesque, quam et facilisis lobortis, nibh elit consectetur turpis, nec lobortis
                metus erat sit amet nisi.</h2>
        </header>

        <div id="contact-content" class="content">
            <div class="templatemo_contactmap">
                <div id="templatemo_map"></div>
            </div>
            <form role="form" method="post" action="#">
                <div class="templatemo_form">
                    <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Your Name"
                           maxlength="40">
                </div>
                <div class="templatemo_form">
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email"
                           maxlength="40">
                </div>
                <div class="templatemo_form">
                    <textarea name="message" rows="10" class="form-control" id="message"
                              placeholder="Message"></textarea>
                </div>
                <div class="templatemo_form">
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </div>
                <address class="content-description">
                    <i class="fa fa-phone"></i> 010-010-0110<br>
                    <i class="fa fa-map-marker"></i> 110 Proin eu erat vitae, mauris ullamcorper luctus 10110<br>
                    <i class="fa fa-envelope"></i> <a href="#">info@company.com</a><br>
                </address>
            </form>
        </div>
    </div> <!-- /.content-container -->
{% endblock %}

{% block script %}
    <script type="text/javascript" src="js/templatemo_script.js"></script>
    <script type="text/javascript">
        loadScript();
    </script>
{% endblock %}
